{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>


<body class="login-fondo">


<div class="login-container">


    <h2>
        Bienvenido al sistema de alquiler de equipos tecnológicos
    </h2>


    <form method="post">

        {% csrf_token %}


        <div class="formulario">

            {{ form.as_p }}

        </div>


        <button type="submit">

            Ingresar

        </button>


    </form>


</div>


</body>

</html>